html {
	padding: 0;
	margin: 0;
}

.home {
	text-align: centrer;
	background: #333;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
}

.home .container {
	width: 100%;
}

.home header {
	width: 100%;
	text-align: center;
	margin-top: -100px;
}

.home header img { 
	max-width: 300px;
	width: 85%;
}

.home nav {
	width: 90%;
	max-width: 800px;
	margin: 60px auto 0 auto;
	text-align: center;
}

.home nav ul {
	padding: 0;
	text-align: center;
}

.home nav li { 
	list-style: none;
	display: block;
	padding: 10px 25px;
	width: auto;
	max-width: 350px;
	margin: 0 auto;
}

.home nav li:before { 
	content: '.';
	background: #fff;
	color: transparent;
	display: inline-block;
	position: relative;
	float: left;
	margin: 15px 12px 0 0;
	height: 5px;
	width:30px;
	transition: all .45s;
	-webkit-transition: all .45s;
}

.home nav li:after { 
	content: '.';
	background: #fff;
	color: transparent;
	display: inline-block;
	position: relative;
	float: right;
	margin: 15px 0 0 12px;
	height: 5px;
	width:30px;
	transition: all .45s;
	-webkit-transition: all .45s;
}

.home nav li:hover:before { 
	margin: 13px 12px 0 0;
	height: 10px;
}

.home nav li:hover:after { 
	margin: 13px 0 0 12px;
	height: 10px;
}

.home nav li a { 
	font-family: Raleway, sans-serif;
	text-decoration: none;
	font-weight: 700;
	color: #555;
	font-size: 28px;
	display: inline-block;
	color: #fff;
}

.imgBg {
	background: url('../images/bg.jpg');
	background-size: cover;
	background-position: center;
	opacity: .6;
	position: absolute;
	top:0;
	left: 0;
	z-index: -1;
	width: 100%;
	height: 100%;
}

@media (max-width: 750px) {
	.home nav {
		width: 100%;
	}

	.home nav li { 
		padding: 10px;
		text-align: left;
	}

	

	.home nav li:after { 
		display: none;
	}
}


/*------------------------*/

.brandpage {
	text-align: center;
	padding: 0;
	margin: 0;
}

.brandpage img {
	width:100%;
	max-width:1000px;
}